scope: patroni_cluster
name: {{ inventory_hostname }}

restapi:
  listen: {{ ansible_host }}:8008
  connect_address: {{ ansible_host }}:8008

etcd:
  hosts: {{ etcd_endpoints }}

bootstrap:
  dcs:
    postgresql:
      use_pg_rewind: true
      parameters:
        max_connections: 100
        shared_buffers: 128MB
        wal_level: replica

postgresql:
  listen: {{ ansible_host }}:5432
  connect_address: {{ ansible_host }}:5432
  data_dir: {{ patroni_data_dir }}
  bin_dir: /usr/lib/postgresql/{{ postgresql_version }}/bin
